fastapi
uvicorn
sqlalchemy
asyncpg
pydantic
pydantic-settings
alembic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
httpx
pytest
pytest-asyncio
psutil
psycopg2
pyaml 
numpy

